.tabsBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: transparent;
  border-radius: 10px;
  overflow-x: auto;
}

.tabButton {
  width: 100%;
  padding: 10px 28px;
  background: none;
  border: none;
  border-bottom: 2.5px solid transparent;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.18s, border-bottom 0.18s;
  outline: none;
}

.tabButtonActive {
  color: #007bff;
  border-bottom: 2.5px solid #007bff;
  font-weight: 700;
}
